<div class="row">
  <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
    <div class="card card-signin my-5">
      <div class="card-body">
        {{#if isLoggedin}}
          <h5 class="card-title text-center">
            {{t "loggedin"}}
          </h5>
        {{else}}
          <h5 class="card-title text-center">
            {{t "signin"}}
          </h5>
          <form class="form-signin">
            <div class="form-label-group">
              {{input type="email" id="inputEmail" class="form-control"
            placeholder=(t "email") value=username required="true" autofocus="true" autocomplete="username" }}
              <label for="inputEmail">{{t "email"}}</label>
            </div>
            <div class="form-label-group">
              {{input type="password" id="inputPassword" class="form-control"
            placeholder=(t "password") required="true" value=password
              autocomplete="current-password"}}
              <label for="inputPassword">{{t "password"}}</label>
            </div>
            <div class="custom-control custom-checkbox mb-3">
              <input type="checkbox" class="custom-control-input" id="customCheck1">
              <label class="custom-control-label" for="customCheck1">{{t "rem_password"}}</label>
            </div>
            <button id="siginBtn" class="btn btn-lg btn-primary btn-block text-uppercase" {{action "validateForm"}}>
              {{t "sign_in"}}
            </button>
            <hr class="my-4">
            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit">
              <i class="fab fa-google mr-2"></i>
              {{t "sign_in_google"}}
            </button>
            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit">
              <i class="fab fa-facebook-f mr-2"></i>
              {{t "sign_in_facebook"}}
            </button>
          </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>